extends ../layout

block content
  h1 Felhasználók
  .container.mt-5
    ul.list-group
      each val in userList
        li.list-group-item
          .row
            .col-md-7.col-sm-12
              h4 #{val.email} (#{val.role})
            .col-md-5.col-sm-12.d-flex.justify-content-end
              a.btn.btn-primary.mx-2(data-toggle='modal', data-target=`#UserModifyModal-${val.id}`)
                | Módosítás
              include _userModify.modal.pug
              a.btn.btn-danger.mx-2(data-toggle='modal' data-target=`#UserDeleteModal-${val.id}`)
                | Törlés
              include _userDelete.modal.pug
              
