extends layout

block content 

  .container-fuild.mt-5
    .container.my-auto
      .d-flex.justify-content-center.h-100
        .card
          .card-body
            h5.card-title Login
            form(action="/auth/login", method="post")
              .form-group
                label(for='email') Email cím
                input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
              .form-group
                label(for='password') Jelszó
                input#password.form-control(type='password', name='password', placeholder='Password')
              button.btn.btn-primary(type='submit') Elküldés
            form(action="", method="post")