extends layout

block content  
  
  .container
    .card
      .card-body
        h5.card-title Regisztráció
        form(action="/auth/register", method="post")
          .form-group
            label(for='email') Email cím
            input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
          .form-group
            label(for='password') Jelszó
            input#password.form-control(type='password', name='password', placeholder='Password')
          .form-group
            label(for='passwordConfirm') Jelszó mégegyszer
            input#passwordConfirm.form-control(type='password', name='passwordConfirm',  placeholder='Password')
          button.btn.btn-primary(type='submit') Elküldés